<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >

<suite name="GQL_customApiTestSuite">
    <test name="customApi">
        <classes>
            <class name="org.jahia.modules.graphQLtests.CustomApiTest"/>
            <class name="org.jahia.modules.sdlGeneratorTools.NodeTypeTest"/>
            <class name="org.jahia.modules.sdlGeneratorTools.PropertiesTest"/>
            <class name="org.jahia.modules.sdlGeneratorTools.FindersTest"/>
            <class name="org.jahia.modules.sdlGeneratorTools.NavigationButtonsTest"/>
            <class name="org.jahia.modules.sdlGeneratorTools.DeleteTest"/>
            <class name="org.jahia.modules.sdlGeneratorTools.ExportResultTest"/>
        </classes>
    </test>
</suite>
